$primary: #238C23;

aside {
	flex: 3;
	height: 100vh;
	background-color: $primary;
	img {
		margin: auto;
		border-radius: 100%;
	}
	hr {
		margin: auto;
		width: 90%;
	}
	h2 {
		margin: 1rem auto;
		padding: 0.2rem 0;
		text-transform: uppercase;
		width: 100%;
		background-color: black;
	}
	#contact {
		p {
			margin: 0.3rem 0;
		}
	}
	#hobbiesIcons {
		margin: auto;
		width: 100%;
		div {
			width: 25%;
			p {
				font-size: 0.8rem;
			}
		}
	}
}

section {
	flex: 3;
	height: 100vh;
	background-color: white;
	overflow-y: scroll;
	.date {
		min-width: 100px;
	}
	#language {
		flex-wrap: wrap;
		h2 {
			width: 100px;
		}
		div {
			margin: 0rem 2rem 1rem 2rem;
		}
		.levelIcon {
			position: relative;
			margin: 0 4px;
			width: 16px;
			height: 16px;
			background-color: transparent;
			border: 2px solid $primary;
			border-radius: 100%;
			p {
				display: none;
			}
			&.last {
				p {
					display: none;
					position: absolute;
					top: 31px;
					transform: translateX(-50%);
					padding: 0.2rem 0.75rem;
					min-width: max-content;
					text-align: center;
					color: white;
					background-color: $primary;
					//border: 2px solid transparent;
					border-radius: 1rem;
				}
			}
			&.acquired::after {
				content: "";
				position: absolute;
				left: 50%;
				top: 50%;
				transform: translate(-50%, -50%);
				width: 6px;
				height: 6px;
				background-color: $primary;
				border-radius: 100%;
			}
		}
	}
	#computer {
		#computerContainer {
			flex-wrap: wrap;
		}
		.computerSkills {
			flex: 1;
			display: inline-block;
			min-width: max-content;
			h3 {
				margin-bottom: 0.3rem;
				text-align: center;
			}
			.fa-file-word {
				color: #2a5699;
			}
			.fa-file-powerpoint {
				color: #c0391b;
			}
			.fa-file-excel {
				color: #217345;
			}
			.fa-adobe {
				color: #ed1b24;
			}
			.fa-html5 {
				color: #e44d26;
			}
			.fa-css3-alt {
				color: #1b73ba;
			}
			.fa-python {
				color: #f8cb3e;
			}
		}
		i {
			margin: 0 0.7rem;
			font-size: 1.5rem;
		}
	}
}

/* ##### MEDIA QUERIES ##### */
/* Tablets (sm) */
@media screen and (min-width: 768px) {
 	aside {
		padding: 1rem;
		hr {
			width: 50%;
		}
		h2 {
			width: 80%;
		}
		#hobbiesIcons {
			width: 80%;
		}
	}
	section {
		#language {
			.levelIcon {
				position: relative;
				margin: 0 4px;
				width: 16px;
				height: 16px;
				background-color: transparent;
				border: 2px solid $primary;
				border-radius: 100%;
				&.last {
					p {
						display: block;
						position: absolute;
						top: 31px;
						transform: translateX(-50%);
						padding: 0.2rem 0.75rem;
						min-width: max-content;
						text-align: center;
						color: white;
						background-color: $primary;
						//border: 2px solid transparent;
						border-radius: 1rem;
					}
					&::before {
						content: "";
						position: absolute;
						top: 16px;
						left: 50%;
						transform: translateX(-50%);
						width: 0px;
						height: 0px;
						border-left: 16px solid transparent;
						border-right: 16px solid transparent;
						border-bottom: 16px solid $primary;
					}
				}
				&.acquired::after {
					content: "";
					position: absolute;
					left: 50%;
					top: 50%;
					transform: translate(-50%, -50%);
					width: 6px;
					height: 6px;
					background-color: $primary;
					border-radius: 100%;
				}
			}
		}
	}
	
}
/* Laptops (md) */
@media screen and (min-width: 992px) {

}
/* Desktops (lg) */
@media screen and (min-width: 1200px) {
	aside {
		flex: 1;
		padding: 1rem;
		height: 100vh;
		background-color: $primary;
		img {
			margin: auto;
			border-radius: 100%;
		}
		hr {
			margin: auto;
			width: 75%;
		}
		h2 {
			margin: 1rem auto;
			padding: 0.2rem 0;
			text-transform: uppercase;
			width: 80%;
			background-color: black;
		}
		#contact {
			p {
				margin: 0.3rem 0;
			}
		}
		#hobbiesIcons {
			flex-wrap: wrap;
			margin: auto;
			width: 80%;
			div {
				width: max-content;
				img {
					max-width: 50%;
				}
				p {
					font-size: 0.8rem;
				}
			}
		}
	}
	section {
		flex: 4;
	}
}